header{
    background-color: transparent;
  
  }
   .menu {
    margin: 27px auto 0;
  
    position: relative;
    width: 600px;
    height: 50px;
    background-color: #202020;
    border-radius: 8px;
    font-size: 0;
  }
  .menu a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
  }
  .menu .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
  }
  .menu a:nth-child(1) {
    width: 100px;
  }
  .menu a:nth-child(2) {
    width: 100px;
  }
  .menu a:nth-child(3) {
    width: 100px;
  }
  .menu a:nth-child(4) {
    width: 100px;
  }
  .menu a:nth-child(5) {
    width: 100px;
  }
  .menu a:nth-child(6) {
    width: 100px;
  }
  .menu .start-home, a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
    background-color: #1abc9c;
  }
  .menu .start-about, a:nth-child(2):hover~.animation {
    width: 100px;
    left: 100px;
    background-color: #e74c3c;
  }
  .menu .start-blog, a:nth-child(3):hover~.animation {
    width: 100px;
    left: 200px;
    background-color: darkgoldenrod;
  }
  .menu .start-portefolio, a:nth-child(4):hover~.animation {
    width: 100px;
    left: 300px;
    background-color: #9b59b6;
  }
  .menu .start-contact, a:nth-child(5):hover~.animation {
    width: 100px;
    left: 400px;
    background-color: #e67e22;
  }
  .menu .start-contact, a:nth-child(6):hover~.animation {
    width: 100px;
    left: 500px;
    background-color: lightskyblue;
  }